.node {
    width: 25px;
    height: 25px;
    outline: 1px solid rgb(33, 41, 48);
    display: inline-block;
  }

  .node-finish{
    background-color: red;
  }

  .node-start{
    background-color: blue;
  }